/* ./app/styles.module.css */ 

  .main {
      width: 100%;
      max-width: 672px;
  
      padding: 12rem 1rem;
      margin: 0 auto;
  
      display: flex;
      flex-direction: column;
      gap: var(--gap-section);
  }
  
  .section {
      display: flex;
      flex-direction: column;
      gap: 1.4rem; 
      
      .subtitle {        
          font-size: 90%;
          text-transform: uppercase;
      }
  }

     .section :global(h1) {
          font-size: 1.6rem;
          line-height: 1.5;
          letter-spacing: 0.0625em;
          @media screen and (min-width: 768px) {
              font-size: 1.8rem;
          }
      }
  
      .section :global(h2) {
          font-size: 1rem;
      }
  
      .section :global(p) {
          font-weight: 400;
          line-height: 1.7;
          letter-spacing: 0.01rem;
      }
  
      .section :global(img) {
          border-radius: 0.4rem;
          box-shadow: 0 0 10px 1px rgba(0,0,0,0.15);
          margin-top: 1.2rem;
      }
  
  
  .siteTitle {
      border-bottom: 1px solid #888888;
      padding-bottom: var(--gap-section);
  }
  
  .grey {
      color: #888888;
  }
  
  .wrapperImage {
      display: grid;
  }

  .wrapperImage :global(img) {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  .navBarWrapper {
    position: fixed;
    left: 50%;
    top: 4px;
    transform: translate(-50%, 0);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4px;
    
    width: 100%;
    max-width: 1280px;

    padding-inline: 2.5%;

    pointer-events: none;

    font-size: 80%;
    @media screen and (min-width: 768px) {
        top: 12.5rem;
    }
}
.nav {
    display: flex;   
    flex-direction: column;
    gap: 12px;
    grid-column: 1 / span 4;
    pointer-events: auto;
    @media screen and (min-width: 1280px) {
        grid-column: 2 / span 3;
    }
}

.ul {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}

.link {
    opacity: 0.5;
    font-family: "BIZ UDPGothic", "Noto Sans JP", sans-serif;
    font-weight: 600;
    &:hover {
        opacity: 0.2;
    }
}

.divider {
    width: 100%;
    height: 1rem;
    display: block;    
    content: "";
    position: relative;   
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #BBB;
        content: "";
        height: 1px;
        width: 100%;
        max-width: 38px;
    }
}

.currentPage {
    opacity: 1;
}

.logo {
    width: 32px;
}

.divider {
    width: 100%;
    height: 1rem;
    display: block;    
    content: "";
    position: relative;   
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #BBB;
        content: "";
        height: 1px;
        width: 100%;
        max-width: 38px;
    }
}